# test용 예시 값

# API Test (Shopify)
API_BASE_URL=https://sauce-demo.myshopify.com
VARIANT_ID=611952521

# UI Test (Swag Labs)
UI_BASE_URL=https://www.saucedemo.com
SAUCE_USERNAME=standard_user
SAUCE_PASSWORD=secret_sauce