
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment
.env

# OS
.DS_Store
Thumbs.db