# Playwright
/test-results/
/playwright-report/
/report/
*.html

# Python
venv/
.pytest_cache/
__pycache__/
*.pyc

# Environment(참고 파일로 .env.example 생성해놓음)
.env

# OS & IDE
.DS_Store
.vscode/
.idea/
*.log